#profileName {
    background-color: aqua;
}

#socials {
    padding-right: 2rem;
    position: sticky;
    bottom: 0;
}

.image-container img {
    border: #000000 solid;
    border-radius: 5px;
}

.my-container {
    padding-top: 5rem;

}

#my-card {
    padding-top: 2rem;
}

#my-contact {
    padding-top: 2rem;
}

#main-container {
    padding-bottom: 22rem;
}